In [24]:
from sklearn.base import BaseEstimator
import numpy as np

In [2]:
class MyDummyClassifier(BaseEstimator):
    def fit(self, X, y=None):
        pass
    def predict(self, X):
        pred = np.zeros((X.shape[0],1))
        for i in range(X.shape[0]):
            if X['Sex'].iloc[i] ==1 :
                pred[i] = 0
            else :
                pred[i] = 1
        return pred

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [39]:
df = pd.read_csv('train.csv')

In [40]:
y_df = df['Survived']

In [41]:
X = df.drop('Survived', axis = 1)

In [42]:
X['Sex'] = X['Sex'].replace({'male': 1, 'female': 0})

In [43]:
X

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,2,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,NaN,S
887,888,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,B42,S
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C148,C
890,891,3,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,NaN,Q

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y_df, test_size = 0.2, random_state = 42)

In [45]:
myclf = MyDummyClassifier()

In [46]:
myclf.fit(X_train, y_train)

In [47]:
preds = myclf.predict(X_test)

In [48]:
print('정확도는 {0:.4f}'.format(accuracy_score(y_test,preds)))

정확도는 0.7821